# Import necessary libraries

In [1]:
import pandas as pd
import numpy as np

# Read the data

In [2]:
df = pd.read_csv('videosUS.csv')
# df.to_csv("videosUS2.csv", sep=';', index=False)

In [3]:
# Check the data
df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22.0,2017-11-13T17:13:01.000Z,SHANtell martin,748374.0,57527.0,2966.0,15954.0,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24.0,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783.0,97185.0,6146.0,12703.0,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23.0,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434.0,146033.0,5339.0,8181.0,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24.0,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168.0,10172.0,666.0,2146.0,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24.0,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731.0,132235.0,1989.0,17518.0,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41415 entries, 0 to 41414
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                41415 non-null  object
 1   trending_date           40949 non-null  object
 2   title                   40949 non-null  object
 3   channel_title           40949 non-null  object
 4   category_id             40949 non-null  float64
 5   publish_time            40949 non-null  object
 6   tags                    40949 non-null  object
 7   views                   40949 non-null  float64
 8   likes                   40949 non-null  float64
 9   dislikes                40949 non-null  float64
 10  comment_count           40949 non-null  float64
 11  thumbnail_link          40949 non-null  object
 12  comments_disabled       40949 non-null  object
 13  ratings_disabled        40949 non-null  object
 14  video_error_or_removed  40949 non-null  object
 15  description             40379 non-null  object
dtypes: float64(5), object(11)
memory usage: 5.1+ MB

In [5]:
df.describe()

        category_id         views         likes      dislikes  comment_count
count  40949.000000  4.094900e+04  4.094900e+04  4.094900e+04   4.094900e+04
mean      19.972429  2.360785e+06  7.426670e+04  3.711401e+03   8.446804e+03
std        7.568327  7.394114e+06  2.288853e+05  2.902971e+04   3.743049e+04
min        1.000000  5.490000e+02  0.000000e+00  0.000000e+00   0.000000e+00
25%       17.000000  2.423290e+05  5.424000e+03  2.020000e+02   6.140000e+02
50%       24.000000  6.818610e+05  1.809100e+04  6.310000e+02   1.856000e+03
75%       25.000000  1.823157e+06  5.541700e+04  1.938000e+03   5.755000e+03
max       43.000000  2.252119e+08  5.613827e+06  1.674420e+06   1.361580e+06

In [6]:
df.isna()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41410,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41411,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
41412,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41413,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41414,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
df.isna().sum()

video_id                     0
trending_date              466
title                      466
channel_title              466
category_id                466
publish_time               466
tags                       466
views                      466
likes                      466
dislikes                   466
comment_count              466
thumbnail_link             466
comments_disabled          466
ratings_disabled           466
video_error_or_removed     466
description               1036
dtype: int64

# Fix the data

In [78]:
with open("videosUS.csv", "r", encoding="UTF-8") as f:
    new_content = []
    cpt = 0
    for line in f:
        if line.startswith('\\n'):
            new_content[-1] = new_content[-1].strip() + line.replace('\\n', '')
        else:
            new_content.append(line.replace('\\n', ''))
    with open("videosUS-updated-version.csv", "w", encoding="UTF-8") as f:
        f.writelines(new_content)
    del new_content

df = pd.read_csv('videosUS-updated-version.csv')
df.to_csv("videosUS-updated-version.csv", sep = ';', index=False)

In [79]:
df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22.0,2017-11-13T17:13:01.000Z,SHANtell martin,748374.0,57527.0,2966.0,15954.0,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24.0,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783.0,97185.0,6146.0,12703.0,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23.0,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434.0,146033.0,5339.0,8181.0,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ SUBSCRIBE ► https://...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24.0,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168.0,10172.0,666.0,2146.0,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24.0,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731.0,132235.0,1989.0,17518.0,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

# 1. Find out how many missing values you have within your dataset? Which columns? What assumptions can you make about these missing values (why do we have them missing?)

In [11]:
df.describe()

        category_id         views         likes      dislikes  comment_count
count  40949.000000  4.094900e+04  4.094900e+04  4.094900e+04   4.094900e+04
mean      19.972429  2.360785e+06  7.426670e+04  3.711401e+03   8.446804e+03
std        7.568327  7.394114e+06  2.288853e+05  2.902971e+04   3.743049e+04
min        1.000000  5.490000e+02  0.000000e+00  0.000000e+00   0.000000e+00
25%       17.000000  2.423290e+05  5.424000e+03  2.020000e+02   6.140000e+02
50%       24.000000  6.818610e+05  1.809100e+04  6.310000e+02   1.856000e+03
75%       25.000000  1.823157e+06  5.541700e+04  1.938000e+03   5.755000e+03
max       43.000000  2.252119e+08  5.613827e+06  1.674420e+06   1.361580e+06

In [12]:
df.isna()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41082,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41083,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
41084,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41085,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41086,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [12]:
# Number of missing values per column
df.isna().sum()

# We notice that there are 708 missing values in the column "description" because there are lots of videos that do not have a description.

video_id                    0
trending_date             138
title                     138
channel_title             138
category_id               138
publish_time              138
tags                      138
views                     138
likes                     138
dislikes                  138
comment_count             138
thumbnail_link            138
comments_disabled         138
ratings_disabled          138
video_error_or_removed    138
description               708
dtype: int64

In [155]:
df_without_missing_values = df[df.isna().any(axis=1)]

# 2. Get the mean , median , quartiles of each numerical variable within this dataset.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41087 entries, 0 to 41086
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                41087 non-null  object
 1   trending_date           40949 non-null  object
 2   title                   40949 non-null  object
 3   channel_title           40949 non-null  object
 4   category_id             40949 non-null  float64
 5   publish_time            40949 non-null  object
 6   tags                    40949 non-null  object
 7   views                   40949 non-null  float64
 8   likes                   40949 non-null  float64
 9   dislikes                40949 non-null  float64
 10  comment_count           40949 non-null  float64
 11  thumbnail_link          40949 non-null  object
 12  comments_disabled       40949 non-null  object
 13  ratings_disabled        40949 non-null  object
 14  video_error_or_removed  40949 non-null  object
 15  description             40379 non-null  object
dtypes: float64(5), object(11)
memory usage: 5.0+ MB

# 3. Spot the possible outliers in your dataset and get rid of them.

In [119]:
for col in df:
    if df[col].dtype == np.float64:
        print(col)

category_id
views
likes
dislikes
comment_count

In [132]:
df_without_outliers = df.copy()
threshold = 3

cols = ["views", "likes", "dislikes", "comment_count"]

for col in cols:
    column = df_without_outliers[col] # get the column
    df_without_outliers[f"{col}_zscore"] = (column - column.mean()) / column.std() # z-score
    df_without_outliers = df_without_outliers[np.abs(df_without_outliers[f"{col}_zscore"] < threshold)] # remove outliers

In [136]:
len(df_without_outliers), len(df)

(38782, 41087)

In [138]:
df_without_outliers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38782 entries, 0 to 41085
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                38782 non-null  object
 1   trending_date           38782 non-null  object
 2   title                   38782 non-null  object
 3   channel_title           38782 non-null  object
 4   category_id             38782 non-null  float64
 5   publish_time            38782 non-null  object
 6   tags                    38782 non-null  object
 7   views                   38782 non-null  float64
 8   likes                   38782 non-null  float64
 9   dislikes                38782 non-null  float64
 10  comment_count           38782 non-null  float64
 11  thumbnail_link          38782 non-null  object
 12  comments_disabled       38782 non-null  object
 13  ratings_disabled        38782 non-null  object
 14  video_error_or_removed  38782 non-null  object
 15  description             38251 non-null  object
 16  views_zscore            38782 non-null  float64
 17  likes_zscore            38782 non-null  float64
 18  dislikes_zscore         38782 non-null  float64
 19  comment_count_zscore    38782 non-null  float64
dtypes: float64(9), object(11)
memory usage: 6.2+ MB

In [139]:
df_without_outliers.describe()

,category_id,views,likes,dislikes,comment_count,views_zscore,likes_zscore,dislikes_zscore,comment_count_zscore
count,38782.000000,3.878200e+04,38782.000000,38782.000000,38782.000000,38782.000000,38782.000000,38782.000000,38782.000000
mean,20.206307,1.392882e+06,41202.492522,1584.144990,4036.347481,-0.130902,-0.128776,-0.076451,-0.083515
std,7.502934,2.304320e+06,65144.488748,2833.297859,5902.743324,0.311642,0.500831,0.366345,0.553605
min,1.000000,5.490000e+02,0.000000,0.000000,0.000000,-0.319205,-0.445540,-0.281281,-0.462075
25%,17.000000,2.259592e+05,5011.250000,187.000000,570.000000,-0.288720,-0.407014,-0.257102,-0.408616
50%,24.000000,6.165765e+05,16243.500000,573.000000,1672.000000,-0.235891,-0.320660,-0.207192,-0.305261
75%,25.000000,1.538961e+06,45983.000000,1601.000000,4700.750000,-0.111146,-0.092023,-0.074272,-0.021202
max,43.000000,2.415205e+07,448001.000000,25366.000000,36898.000000,2.947110,2.998692,2.998543,2.998508

In [154]:
df_without_outliers.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,views_zscore,likes_zscore,dislikes_zscore,comment_count_zscore
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22.0,2017-11-13T17:13:01.000Z,SHANtell martin,748374.0,57527.0,2966.0,15954.0,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,-0.218067,-0.003273,0.102223,1.034216
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24.0,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783.0,97185.0,6146.0,12703.0,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John...",0.007844,0.301618,0.513397,0.729312
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23.0,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434.0,146033.0,5339.0,8181.0,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ SUBSCRIBE ► https://...,0.112339,0.677162,0.409052,0.305203
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24.0,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168.0,10172.0,666.0,2146.0,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...,-0.272868,-0.367338,-0.195167,-0.260806
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24.0,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731.0,132235.0,1989.0,17518.0,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...,-0.035847,0.571082,-0.024103,1.180900

# 4. How many unique categories do you have?

In [142]:
df["category_id"].drop_duplicates().count()

16

# 5. Is there any column that we need to adjust its type?

In [ ]:
# category_id we need to change its type from float to string because it is a categorical variable

# 6. Get how many tags you have and which are the most common tags.

In [187]:
all_tags = set()
df_tags = df["tags"].dropna()
for tags in df_tags:
    tags = map(lambda t: (t).strip('" '), tags.split('|'))
    all_tags.update(tags)

if '' in all_tags:
    all_tags.remove('')
    
print(len(all_tags))

56677