# Import necessary libraries

In [77]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

# Read and explore the data

Link to the dataset: https://www.kaggle.com/aungpyaeap/fish-market
```
Species   species name of fish
Weight    weight of fish in Gram g
Length1   vertical length in cm
Length2   diagonal length in cm
Length3   cross length in cm
Height    height in cm
Width     width in cm
```

In [78]:
df = pd.read_csv('Fish.csv')

In [79]:
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [81]:
df.describe()

            Weight     Length1     Length2     Length3      Height       Width
count   159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    398.326415   26.247170   28.415723   31.227044    8.970994    4.417486
std     357.978317    9.996441   10.716328   11.610246    4.286208    1.685804
min       0.000000    7.500000    8.400000    8.800000    1.728400    1.047600
25%     120.000000   19.050000   21.000000   23.150000    5.944800    3.385650
50%     273.000000   25.200000   27.300000   29.400000    7.786000    4.248500
75%     650.000000   32.700000   35.500000   39.650000   12.365900    5.584500
max    1650.000000   59.000000   63.400000   68.000000   18.957000    8.142000

In [82]:
df.isna().sum()

Species    0
Weight     0
Length1    0
Length2    0
Length3    0
Height     0
Width      0
dtype: int64

# Create a linear regression model in which the weight is the dependent model and the rest of the variables are independent (minus the species).

In [83]:
polymodel = PolynomialFeatures(degree=2)

In [84]:
model = LinearRegression()

# get all columns except Species and Weight
x = df.drop(['Species', 'Weight'], axis=1).values # axis=1 means columns
# another way to do it:
x2 = df.loc[:, ((df.columns != 'Species') & (df.columns != 'Weight'))].values
# another way to do it:
x3 = df[['Length1', 'Length2', 'Length3', 'Height', 'Width']].values

# test if the three ways are the same
print(x.shape, x2.shape, x3.shape) # (159, 5) (159, 5) (159, 5)
print(type(x), type(x2), type(x3)) # numpy.ndarray
print("Are the three ways the same?", np.all((x == x2) & (x == x3))) # True


# get the Weight column 
y = df['Weight'].values
print(y.shape) # (159,)
print(type(y)) # numpy.ndarray
model.fit(x, y) # fit the model

# y_pred = model.predict(x)
# plt.scatter(x, y)
# plt.plot(x, y_pred, color='red')
# plt.show()

(159, 5) (159, 5) (159, 5)
<class 'numpy.ndarray'> <class 'numpy.ndarray'> <class 'numpy.ndarray'>
Are the three ways the same? True
(159,)
<class 'numpy.ndarray'>

LinearRegression()

# Measure the quality of your model using the R² score.

In [76]:
rsquared = model.score(x, y)
print("R² score:", rsquared)

R² score: 0.8852867046546207